@model PGMSFront.Models.CommonModel
@{
    ViewBag.Title = "Department";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .table > tbody > tr > td {
        padding: 2px 8px !important;
        cursor: pointer !important;
    }

    .card {
        margin-bottom: 0px !important;
        margin-top: 25px !important;
    }

    .bootstrap-select {
        margin-top: 16px !important;
    }

    .main-panel > .content {
        margin-top: 0 !important;
    }

    #AddMoreTR {
        background: lightblue;
    }
</style>
<div class="content">
    @using (Html.BeginForm(new { @class = "form-horizontal" }))
    {
        @Html.AntiForgeryToken()
        <div class="container-fluid">   
            <div class="row">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">
                            <label class="card-title"> Department Count : </label> <label class="card-title" id="lblWSCount"></label>
                            <button type="button" class="btn btn-fill btn-rose btn-sm pull-right" onclick="AddMore()" id="btnAdd">Add More</button>
                        </h4>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="table-responsive">
                                    <table class="table table-bordered" style="min-width: 2000px; max-width: 2000px; overflow-x:auto">
                                        <thead class=" text-primary">
                                            <tr>
                                                <th width="200px">Department/Location</th>
                                                <th width="200px">Contact Person</th>
                                                <th width="130px">Phone No.</th>
                                                <th width="130px">Mobile No.</th>
                                                <th width="200px">Email</th>
                                                <th width="400px">Address</th>
                                                <th width="200px">Country</th>
                                                <th width="200px">State/Province</th>
                                                <th width="200px">District</th>
                                                <th width="150px">Pincode</th>
                                                <th width="200px">GST No.</th>
                                                <th width="130px">IS SEZ</th>
                                                <th width="130px" class="text-center">Action</th>
                                            </tr>
                                        </thead>
                                        <tbody id="tbodyWS">
                                            <tr id="AddMoreTR" style="display: none;">
                                                <td><input id="Department" type="text" style="text-align: left" class="form-control" value=""></td>
                                                <td><input id="ContactPerson" type="text" style="text-align: left" onkeypress='return CheckIsAlphaNumeric(event,this);' class="form-control" value=""></td>
                                                <td><input id="PhoneNo" type="text" maxlength="15" style="text-align: left" onkeypress='return CheckIsNumeric(event,this);' class="form-control" value=""></td>
                                                <td><input id="Mobile" type="text" maxlength="10" style="text-align: left" onkeypress='return CheckIsNumeric(event,this);' class="form-control" value=""></td>
                                                <td><input id="Email" type="text" style="text-align: left" class="form-control" value=""></td>
                                                <td><input type="text" id="txtAddress" class="form-control"></td>
                                                <td>
                                                    <select id="ddlCountry" class="form-control" onchange="LoadStateByCountryId()">
                                                        <option value="0">Select Country *</option>
                                                        @foreach (var itm in ViewBag.Country)
                                                        {
                                                            <option value='@itm.Value'>@itm.Text</option>
                                                        }
                                                    </select>
                                                </td>
                                                <td>
                                                    <select id="ddlState" class="form-control" onchange="LoadDistictByStateId()">
                                                        <option value="0">Select State/Province *</option>
                                                    </select>
                                                </td>
                                                <td>
                                                    <select id="ddlCity" class="form-control">
                                                        <option value="0">Select District *</option>
                                                    </select>
                                                </td>
                                                <td><input type="text" maxlength="6" id="txtPincode" class="form-control"></td>
                                                <td><input type="text" maxlength="15" onchange="ValidateGST(this)" id="txtGSTNo" class="form-control"></td>
                                                <td>
                                                    <select id="isSez" class="form-control">
                                                        <option value="0">Select *</option>
                                                        <option value="true">Yes</option>
                                                        <option value="false" selected>No</option>
                                                    </select>
                                                </td>
                                                <td class='td-actions text-center'>
                                                    <button type='button' rel='tooltip' id="btnSave" onclick="return DepartmentSave()" class='btn btn-info' data-original-title='' title=''><i class='material-icons'>save</i></button>
                                                    <button type='button' rel='tooltip' class='btn btn-danger' data-original-title='' title='' onclick="AddMoreCancel()"><i class='material-icons'>close</i></button>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12 text-center">
                                <label id="msg" style="color: red; padding: 5px; border-radius: 5px; text-align: center"></label>
                            </div>
                        </div>
                    </div>
                </div>
                @Html.HiddenFor(m => m.UserId, new { id = "UserId", style = "width:0px;" })
                @Html.HiddenFor(m => m.UserTypePropId, new { id = "UserTypePropId", style = "width:0px;" })
                @Html.HiddenFor(m => m.ZZCompanyId, new { id = "ZZCompanyId", style = "width:0px;" })
                @Html.HiddenFor(m => m.WorkFlowId, new { id = "WorkFlowId", style = "width:0px;" })
                @Html.HiddenFor(m => m.StatusPropId, new { id = "StatusPropId", style = "width:0px;" })
                @Html.HiddenFor(m => m.StateId, new { id = "StateId", style = "width:0px;" })

            </div>
        </div>
    }
</div>
<script>
    var CompanyDepartmentId = 0;
    var CompanyDepartmentList = '';

    function AddMore() {
        WorkshopBookingDetailId = 0;
        $("#msg").html('** Add your details in the blue row and click on <i class="material-icons">save</i> icon **');
        $("#AddMoreTR").find("button[id='btnSave']").each(function () {
            $(this).show();
        });
        $("#AddMoreTR").find("input[type='text'][id='Department']").each(function () {
            $(this).val("");
        });
        $("#AddMoreTR").find("input[type='text'][id='ContactPerson']").each(function () {
            $(this).val("");
        });
        $("#AddMoreTR").find("input[type='text'][id='PhoneNo']").each(function () {
            $(this).val("");
        });
        $("#AddMoreTR").find("input[type='text'][id='Mobile']").each(function () {
            $(this).val("");
        });
        $("#AddMoreTR").find("input[type='text'][id='Email']").each(function () {
            $(this).val("");
        });


        $("#AddMoreTR").show();
        MaskControls();
        $("#Department").focus();
    }
    function AddMoreCancel() {
        $("#AddMoreTR").hide();
        $("#msg").html('');
    }

    var countryId = 0;
    function LoadStateByCountryId() {
        try {
            debugger;
            var CountryId = $("#ddlCountry").val();
            if (parseInt(CountryId) <= 0) {
                alert("Please Select Country");
            }
            else {
                countryId = CountryId;
                if (countryId === "1") {
                    $(".isIndia").show();
                } else {
                    $(".isIndia").hide();
                }
                LoaderShow();
                $("#ddlState").html("");
                $("#ddlCity").html("<option value='0'>Select District *</option>");
                var data = { 'intCountryId': CountryId };
                var dataWithAntiforgeryToken = $.extend(data, { "__RequestVerificationToken": $("input[name=__RequestVerificationToken]").val() });
                $.ajax({
                    url: '@Url.Action("LoadStateByCountryId", "Front")',
                    type: 'POST',
                    dataType: 'json',
                    async: true,
                    data: dataWithAntiforgeryToken,
                    success: function (data) {
                        LoaderHide();
                        debugger;
                        if (data.StatusId != "99" && data.StatusId != "-99") {
                            lstState = data.StateList;
                            var gridData = "<option value='0'>Select State/Province *</option>";
                            for (var i = 0; i < data.StateList.length; i++) {
                                gridData = gridData + "<option value='" + NullHandle(data.StateList[i].StateId) + "'>" + NullHandle(data.StateList[i].State) + "</option>";
                            }
                            $("#ddlState").html(gridData);
                           // $(".select2").select2();
                        }
                        else {
                            alert(data.Status);
                        }
                    },
                    error: function (xhr) {
                        LoaderHide();
                        alert(xhr.responseText);
                    }
                });
            }
        }
        catch (e) {

            LoaderHide();
            alert(e.message);
        }
    }

    ///////////////////////////// Load District Info  //////////////////////////////////////////////////////
    function LoadDistictByStateId() {
        try {
            var StateId = $("#ddlState").val();
            if (parseInt(StateId) <= 0) {
                alert("Please Select State");
            }
            else {
                LoaderShow();
                $("#ddlCity").html("");
                var data = { 'intStateId': StateId };
                var dataWithAntiforgeryToken = $.extend(data, { "__RequestVerificationToken": $("input[name=__RequestVerificationToken]").val() });
                $.ajax({
                    url: '@Url.Action("LoadDistictByStateId", "Home")',
                    type: 'POST',
                    dataType: 'json',
                    async: true,
                    data: dataWithAntiforgeryToken,
                    success: function (data) {
                        LoaderHide();
                        if (data.StatusId != "99" && data.StatusId != "-99") {
                            var gridData = "<option value='0'>Select District *</option>";
                            for (var i = 0; i < data.DistrictList.length; i++) {
                                gridData = gridData + "<option value='" + NullHandle(data.DistrictList[i].DistrictId) + "'>" + NullHandle(data.DistrictList[i].District) + "</option>";
                            }

                            $("#ddlCity").html(gridData);
                           // $(".select2").select2();
                        }
                        else {
                            alert(data.Status);
                        }
                    },
                    error: function (xhr) {

                        LoaderHide();
                        alert(xhr.responseText);
                    }
                });
            }
        }
        catch (e) {

            LoaderHide();
            alert(e.message);
        }
    }

    ///////////////////////////// Load Vehicle Info  //////////////////////////////////////////////////////
    function LoadDepartmentInfo() {
        try {
            LoaderShow();
            var data = {};
            var dataWithAntiforgeryToken = $.extend(data, { "__RequestVerificationToken": $("input[name=__RequestVerificationToken]").val() });
            $.ajax({
                url: '@Url.Action("LoadDepartmentInfo", "Home")',
                type: 'POST',
                dataType: 'json',
                async: true,
                data: dataWithAntiforgeryToken,
                success: function (data) {

                    LoaderHide();
                    if (data.StatusId != "99" && data.StatusId != "-99") {
                        CompanyDepartmentList = data.CompanyDepartmentList;
                        debugger;
                        BindWSData(data.CompanyDepartmentList);
                    }
                    else {
                       // alert(data.Status);
                    }
                },
                error: function (xhr) {

                    LoaderHide();
                    alert(xhr.responseText);
                }
            });
        }
        catch (e) {

            LoaderHide();
            alert(e.message);
            //  return false;
        }
    }

    //////////////////////// Vehicle Edit ////////////////////////////////////////////////////////////
    function DepartmentEdit(varCompanyDepartmentId) {
        try {
            CompanyDepartmentId = 0;
            $("#msg").html('** Edit your details in the blue row and click on <i class="material-icons">save</i> icon **');
            if (CompanyDepartmentList.length > 0) {
                var varWS = jQuery.grep(CompanyDepartmentList, function (obj) {
                    return obj.CompanyDepartmentId == varCompanyDepartmentId;
                });

                CompanyDepartmentId = NullHandle(varWS[0].CompanyDepartmentId);

                $("#AddMoreTR").find("button[id='btnSave']").each(function () {
                    $(this).show();
                });

                $("#AddMoreTR").find("input[type='text'][id='Department']").each(function () {
                    $(this).val(NullHandle(varWS[0].Department));
                });
                $("#AddMoreTR").find("input[type='text'][id='ContactPerson']").each(function () {
                    $(this).val(NullHandle(varWS[0].ContactPerson));
                });
                $("#AddMoreTR").find("input[type='text'][id='txtAddress']").each(function () {
                    $(this).val(NullHandle(varWS[0].Address));
                });
                $("#AddMoreTR").find("input[type='text'][id='PhoneNo']").each(function () {
                    $(this).val(NullHandle(varWS[0].PhoneNo));
                });
                $("#AddMoreTR").find("input[type='text'][id='Mobile']").each(function () {
                    $(this).val(NullHandle(varWS[0].Mobile));
                });
                $("#AddMoreTR").find("input[type='text'][id='Email']").each(function () {
                    $(this).val(NullHandle(varWS[0].Email));
                });

                $("#AddMoreTR").find("select[id='ddlCountry']").each(function () {
                    $(this).val(NullHandle(varWS[0].CountryId));
                   // LoadStateByCountryId();
                });
                $("#AddMoreTR").find("select[id='ddlState']").each(function () {
                    debugger;
                    $(this).val(NullHandle(varWS[0].StateId));
                   // LoadDistictByStateId();
                });
                $("#AddMoreTR").find("select[id='ddlCity']").each(function () {
                    $(this).val(NullHandle(varWS[0].DistrictId));
                });

                $("#AddMoreTR").find("input[type='text'][id='txtGSTNo']").each(function () {
                    $(this).val(NullHandle(varWS[0].GSTNo));
                });

                $("#AddMoreTR").find("input[type='text'][id='txtPincode']").each(function () {
                    $(this).val(NullHandle(varWS[0].Pincode));
                });

                $("#AddMoreTR").find("select[id='isSez']").each(function () {
                    if ((varWS[0].IsSEZ) == true) {
                        $(this).val('true');
                    } else {
                        $(this).val('false');
                    }
                });

                $("#AddMoreTR").show();
                MaskControls();
                $("#Department").focus();
            }
        }
        catch (e) {

        }
    }

    function ValidateGST(tx) {
        if (tx != null && $(tx).val().trim() != "") {
            var inputvalues = $(tx).val().trim().toUpperCase();
            var gstinformat = new RegExp('^[0-9]{2}[A-Z]{5}[0-9]{4}[A-Z]{1}[1-9A-Z]{1}Z[0-9A-Z]{1}$');
            if (gstinformat.test(inputvalues)) {
                $(tx).val(inputvalues);
                return true;
            } else {
                alert('Please Enter Valid GSTIN Number');
                $(tx).val('');
                $(tx).focus();
            }
        }
    }
    ///////////////////////////// Vehicle Save  //////////////////////////////////////////////////////
    function DepartmentSave() {
        try {
            var model = {};
            var strMSG = '';
            var varWS = jQuery.grep(CompanyDepartmentList, function (obj) {
                return obj.CompanyDepartmentId == CompanyDepartmentId;
            });
            var btnSave = "";

            if (parseInt(CompanyDepartmentId) > 0 && varWS != undefined && varWS.length > 0) {
                model = varWS[0];
            }
            else {
                model.CompanyDepartmentId = -1;
            }

            $("#AddMoreTR").find("button[id='btnSave']").each(function () {
                btnSave = $(this);
            });

            $("#AddMoreTR").find("input[type='text'][id='Department']").each(function () {
                model.Department = $(this).val().trim();
                if ($(this).val().trim() == "") {
                    strMSG = strMSG + 'Department \n</br>'
                }
            });
            $("#AddMoreTR").find("input[type='text'][id='ContactPerson']").each(function () {
                model.ContactPerson = $(this).val().trim();
            });
            $("#AddMoreTR").find("input[type='text'][id='PhoneNo']").each(function () {
                model.PhoneNo = $(this).val().trim();
            });

            $("#AddMoreTR").find("input[type='text'][id='txtAddress']").each(function () {
                model.Address = $(this).val().trim();
                if ($(this).val().trim() == "") {
                    strMSG = strMSG + 'Address \n</br>'
                }
            });

            
            $("#AddMoreTR").find("input[type='text'][id='Mobile']").each(function () {
                model.Mobile = $(this).val().trim();
                if ($(this).val().trim() == "") {
                    strMSG = strMSG + 'Mobile No. \n</br>'
                }
            });
            $("#AddMoreTR").find("input[type='text'][id='Email']").each(function () {
                model.Email = $(this).val().trim();
                if ($(this).val().trim() == "") {
                    strMSG = strMSG + 'Email \n</br>'
                }
            });

            $("#AddMoreTR").find("select[id='ddlCountry']").each(function () {
                model.CountryId = $(this).val()
                if ($(this).val() == "" || $(this).val()==0) {
                    strMSG = strMSG + 'Country \n</br>'
                }
            });

            $("#AddMoreTR").find("select[id='ddlState']").each(function () {
                model.StateId = $(this).val()
                if ($(this).val() == "" || $(this).val() == 0) {
                    strMSG = strMSG + 'State \n</br>'
                }
            });
            $("#AddMoreTR").find("select[id='ddlCity']").each(function () {
                model.DistrictId = $(this).val()
                if ($(this).val() == "" || $(this).val() == 0) {
                    strMSG = strMSG + 'District \n</br>'
                }
            });

            $("#AddMoreTR").find("input[type='text'][id='txtGSTNo']").each(function () {
                model.GSTNo = $(this).val().trim()
                if ($(this).val() == "") {
                    strMSG = strMSG + 'GST No. \n</br>'
                }
            });
            $("#AddMoreTR").find("input[type='text'][id='txtPincode']").each(function () {
                model.Pincode = $(this).val().trim()
                if ($(this).val() == "") {
                    strMSG = strMSG + 'Pincode \n</br>'
                }
            });

            $("#AddMoreTR").find("select[id='isSez']").each(function () {
                model.IsSEZ = $(this).val()
                if ($(this).val() == "" || $(this).val() == 0) {
                    strMSG = strMSG + 'SEZ \n</br>'
                }
            });

            if (strMSG != '') {
                alert("Please enter data for Mandatory fields  \n</br>" + strMSG);
                return false;
            }
            else {

                btnSave.hide();
                LoaderShow();
                var data = {'model': model};
                var dataWithAntiforgeryToken = $.extend(data, { "__RequestVerificationToken": $("input[name=__RequestVerificationToken]").val() });
                $.ajax({
                    url: '@Url.Action("DepartmentSave", "Home")',
                    type: 'POST',
                    dataType: 'json',
                    async: true,
                    data: dataWithAntiforgeryToken,
                    //contentType: "application/json; charset=utf-8",
                    success: function (data) {

                        LoaderHide();
                        if (data.StatusId != "99" && data.StatusId != "-99") {
                            $("#msg").html('');
                            CompanyDepartmentList = data.CompanyDepartmentList;
                            BindWSData(data.CompanyDepartmentList);

                        }
                        btnSave.show();
                        alert(data.Status);
                    },
                    error: function (xhr) {

                        btnSave.show();
                        LoaderHide();
                        alert(xhr.responseText);
                    }
                });
            }
        }
        catch (e) {
            LoaderHide();
            btnSave.show();
            alert(e.message);
            return false;
        }
    }

    ///////////////////////////// Bind Info  //////////////////////////////////////////////////////
    function BindWSData(data) {
        try {
            var gridData = "";

            gridData = "<tr id='AddMoreTR' style='display: none;'>" + $("#AddMoreTR").html() + "</tr>";

            $("#lblWSCount").text(NullHandle(data.length));

            $("#tbodyWS").html("");

            for (var i = 0; i < data.length; i++) {
                gridData = gridData + "<tr >";

                gridData = gridData + "<td>" + NullHandle(data[i].Department) + "</td>";
                gridData = gridData + "<td>" + NullHandle(data[i].ContactPerson) + "</td>";
                gridData = gridData + "<td>" + NullHandle(data[i].PhoneNo) + "</td>";
                gridData = gridData + "<td>" + NullHandle(data[i].Mobile) + "</td>";
                gridData = gridData + "<td>" + NullHandle(data[i].Email) + "</td>";
                gridData = gridData + "<td>" + NullHandle(data[i].Address) + "</td>";
                gridData = gridData + "<td>" + NullHandle(data[i].ZZCountry) + "</td>";
                gridData = gridData + "<td>" + NullHandle(data[i].ZZState) + "</td>";
                gridData = gridData + "<td>" + NullHandle(data[i].ZZDistrict) + "</td>";
                gridData = gridData + "<td>" + NullHandle(data[i].Pincode) + "</td>";
                gridData = gridData + "<td>" + NullHandle(data[i].GSTNo) + "</td>";
                if (NullHandle(data[i].IsSEZ) === true) {
                    gridData = gridData + "<td>Yes</td>";
                } else {
                    gridData = gridData + "<td>No</td>";
                }
                

                gridData = gridData + "<td class='td-actions text-center'>";
                gridData = gridData + "<button type='button' rel='tooltip' class='btn btn-info' title='Edit Department : " + NullHandle(data[i].Department) + "' onclick='return DepartmentEdit(" + NullHandle(data[i].CompanyDepartmentId) + ")' > <i class='material-icons'>edit</i></button>&nbsp;";
                //gridData = gridData + "<button type='button' rel='tooltip' class='btn btn-danger' title='Delete Workshop : " + NullHandle(data[i].ZZServiceName) + "' onclick='return DepartmentDelete(" + NullHandle(data[i].CompanyDepartmentId) + ")'><i class='material-icons'>close</i></button>";
                gridData = gridData + "</td>";
                gridData = gridData + "</tr>";
            }

            $("#tbodyWS").html(gridData);


        }
        catch (e) {

        }
    }

    ///////////////////////////// Masking  //////////////////////////////////////////////////////
    function MaskControls() {
        try {
            (function ($) {
                $(function () {

                    $("#AddMoreTR").find("input[type='text'][id='Email']").each(function () {
                        $(this).IsEmailOnly();
                    });

                });
            })(jQuery);
        }
        catch (e) {

        }
    }

    $(document).ready(function () {
        MaskControls();
        LoadDepartmentInfo();
    });

</script>